body {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: black;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
  border: none;
  outline: none;
}

.container {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
  @include xl-block() {
    max-width: 100%;
    padding: 0 20px;
  }
}

.base-title {
  h2 {
    font-family: $oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
  }
  a {
    font-family: $sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: $accent;
  }
}
