//Font
$lato                  : 'Lato', sans-serif;
$oswald                : 'Oswald', sans-serif;
$sans                  : 'Source Sans Pro', sans-serif;

//Main color
$primary               : #EF532C;
$accent                : #F18F20;
$black                 : #000000;
$white                 : #FFFFFF;
$white-light           : #FAFAFA;
$c-border              : #E6E6E6;
$gray                  : rgba(0,0,0,.3);
$gray-light            : rgba(0,0,0,.1);
$black-gray            : #282828;

$easing: cubic-bezier(0.2, 0.1, 0.2, 1);
